@using System.Security.Claims
@using PopBlog.Mvc
@inject IConfig Config;
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title - @Config.BlogTitle</title>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/popper.js/dist/popper.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/PopBlog/dist/base.min.css" rel="stylesheet" />
	<link href="/rss" title="RSS" type="application/rss+xml" rel="alternate" />
</head>
<body>
<div class="container mb-3">
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
		<a class="navbar-brand" href="/">@Config.BlogTitle</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" asp-controller="Archive" asp-action="Index">Archive</a>
				</li>
				@if (User.HasClaim(ClaimTypes.Role, "Admin"))
				{
					<li class="nav-item">
						<a class="nav-link" asp-controller="Admin" asp-action="Index">Admin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
					</li>
				}
			</ul>
		</div>
	</nav>
	
	@RenderBody()
</div>
</body>
</html>
