@model PopBlog.Mvc.Models.Content
@{
	ViewBag.Title = "Edit Content";
	Layout = "AdminLayout";
}
@section header
{
	<script src="~/lib/PopBlog/dist/TinyHelper.min.js"></script>
	<script type="text/javascript">
		initEditor("#FullText");
	</script>
}

<h1>Edit Post</h1>

<form asp-action="EditContent" method="POST">
	<div class="mb-3">
		<label for="Title">Title</label>
		<input asp-for="Title" class="form-control" />
	</div>
	<div class="mb-3">
		<label for="ContentID">ContentID (will appear as /content/<i>yourID</i>)</label>
		<input asp-for="ContentID" class="form-control" />
	</div>
	<div class="mb-3">
		<textarea asp-for="FullText" class="form-control" rows="30"></textarea>
	</div>

	<input type="submit" value="Save" class="btn btn-primary mb-3" />
</form>