@{
	Layout = null;
}
<!DOCTYPE html>
<html>

<head>
	<title>Image Manager</title>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/popper.js/dist/popper.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="~/lib/tinymce/tinymce.min.js"></script>
	<script language="javascript" type="text/javascript">
		var imageID = "";
		$(function () {
			var folderSelect = $("#FolderList");
			getImages(folderSelect.value);
			folderSelect.bind("change", function (event) {
				getImages(this.value);
			});
			$("#SelectionButton").click(function (event) {
				if (imageID != "")
					tinyMCEPopup.execCommand("mceInsertContent", false, '<img src="/Post/Image/' + imageID + '" />');
				tinyMCEPopup.close();
			});
			var newImageID = $("#NewImageID").val();
			if (newImageID != "") {
				$.getJSON("/Admin/GetImageData/" + newImageID, function (result) {
					loadImage(result.imageID, result.fileName);
					$("#FolderList").val(result.imageFolderID);
					$("#FolderList").trigger("change");
				});
			}
		});
		function getImages(id) {
			$.getJSON("/Admin/GetImages/" + id, populateImages);
		}
		function populateImages(result) {
			$("#List").empty();
			$.each(result, function (i) {
				$("<a/>").attr("href", "javascript:loadImage('" + this.imageID + "', '" + this.fileName + "')").html(this.fileName + "<br />").appendTo("#List");
			});
		}
		function loadImage(id, fileName) {
			imageID = id;
			$("#PreviewImage").attr("src", "/Post/Image/" + id);
			$("#PreviewName").html(fileName);
		}
	</script>
</head>
<body>
	<form asp-action="ImageManager" asp-controller="Admin" enctype="multipart/form-data" method="POST">
		<input type="hidden" id="NewImageID" name="NewImageID" value="@ViewData["NewImageID"]" />
		<div id="ImageManager">
			<div id="Navigator">
				Folder: @Html.DropDownList("FolderList", ViewData["Folders"] as SelectList)
				<div id="List"></div>
			</div>
			<div id="Preview">
				<p id="PreviewName"></p>
				<img id="PreviewImage" alt="" src="" />
			</div>
			<div id="Upload">
				<p>Upload to current folder:</p>
				<input type="file" id="ImageUpload" name="ImageUpload" />
				<input type="submit" value="Upload" />
			</div>
			<input id="SelectionButton" name="SelectionButton" type="button" value="OK" />
		</div>
	</form>
</body>
</html>