@using PopBlog.Mvc.Models
@{
	Layout = null;
	var folders = ((IEnumerable<ImageFolder>) ViewBag.Folders).Select(x => new SelectListItem(x.Name, x.ImageFolderID.ToString()));

}
<!DOCTYPE html>
<html>

<head>
	<title>Image Manager</title>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<script src="~/lib/tinymce/tinymce.min.js"></script>
	<script language="javascript" type="text/javascript">
		var imageID = "";
		$(function () {
			var folderSelect = $("#FolderList");
			getImages(0);
			folderSelect.on("change", function () {
				getImages(this.value);
			});
			$("#SelectionButton").click(function () {
				if (imageID != "")
					window.parent.postMessage({ mceAction: "execCommand", cmd: "mceInsertContent", value: '<img src="/Post/Image/' + imageID + '" />' });
				window.parent.postMessage({mceAction: "close"});
			});
			var newImageID = $("#NewImageID").val();
			if (newImageID != "") {
				$.getJSON("/Admin/GetImageInfo/" + newImageID, function (result) {
					loadImage(result.imageID, result.fileName);
					$("#FolderList").val(result.imageFolderID);
					$("#FolderList").trigger("change");
				});
			}
		});
		function getImages(id) {
			$.getJSON("/Admin/GetImages/" + id, populateImages);
		}
		function populateImages(result) {
			$("#List").empty();
			$.each(result, function (i) {
				$("<a/>").attr("href", "javascript:loadImage('" + this.imageID + "', '" + this.fileName + "')").html(this.fileName + "<br />").appendTo("#List");
			});
		}
		function loadImage(id, fileName) {
			imageID = id;
			$("#PreviewImage").attr("src", "/Post/Image/" + id);
			$("#PreviewName").html(fileName);
		}
	</script>
</head>
<body>
	<form asp-action="ImageManager" asp-controller="Admin" enctype="multipart/form-data" method="POST" class="px-3">
		<input type="hidden" id="NewImageID" name="NewImageID" value="@ViewBag.NewImageID" />
		<div id="ImageManager" class="row" style="height:470px;">
			<div id="Navigator" class="col col-3 border-right">
				<small>Folder:</small> @Html.DropDownList("FolderList", folders)
				<div id="List" style="font-size:75%;overflow-y:auto;max-height: 400px;"></div>
			</div>
			<div class="col col-9">
				<div id="Upload">
					<small>Upload to current folder:</small>
					<input type="file" id="ImageUpload" name="ImageUpload" class="col-4" />
					<input type="submit" value="Upload" class="ml-3 btn btn-primary" />
				</div>
				<div id="Preview" class="overflow-auto" style="max-height: 420px;">
					<p id="PreviewName"></p>
					<img id="PreviewImage" alt="" src="" />
				</div>
			</div>
		</div>
		<div class="row m-2 float-right">
			<input id="SelectionButton" name="SelectionButton" type="button" value="OK" class="btn btn-primary" />
		</div>
	</form>
</body>
</html>