@using PopBlog.Mvc
@model IEnumerable<PopBlog.Mvc.Models.Post>
@inject IConfig Config
@{
	ViewBag.Title = Config.BlogDescription;
}

<h1 class="my-4">@Config.BlogDescription</h1>

@foreach (var item in Model)
{
    <div class="mb-5">
        @await Html.PartialAsync("_Post", item)
    </div>
}