@using PopBlog.Mvc
@inject IConfig Config;
@{
	Layout = "_Layout";
	var recaptchaKey = Config.ReCaptchaSiteKey;
}
<h1>Login</h1>

<div asp-validation-summary="All"></div>

<form asp-controller="Home" asp-action="Login">
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" id="email" name="email" class="form-control" />
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" id="password" name="password" class="form-control" />
	</div>
	<input type="hidden" name="Token" id="Token" />
	<button type="submit" class="btn btn-primary">Login</button>
</form>
<script src="https://www.google.com/recaptcha/api.js?render=@recaptchaKey"></script>
<script>
	grecaptcha.ready(function() {
		grecaptcha.execute("@recaptchaKey", { action: "signup" }).then(function (token) {
			$("#Token").val(token);
		});
	});
</script>