@model PopBlog.Mvc.Models.User

@{
	ViewBag.Title = "POP Blog Setup";
}

<h1>POP Blog Setup</h1>

<form method="post" asp-controller="Home" asp-action="Setup">
	<div class="mb-3">
        <label for="Name" class="form-label">Name</label>
		<input type="text" class="form-control" asp-for="Name">
	</div>
	<div class="mb-3">
		<label for="Email" class="form-label">Email address</label>
		<input type="email" class="form-control" asp-for="Email">
	</div>
	<div class="mb-3">
		<label for="Password" class="form-label">Password</label>
		<input type="password" class="form-control" asp-for="Password">
	</div>
	<button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>