@using System.Globalization
@using PopBlog.Mvc
@model IEnumerable<PopBlog.Mvc.Models.Post>
@inject IConfig Config
@{
	var title = $"{CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(ViewBag.Month)}, {ViewBag.Year}";
	ViewBag.Title = title;
}

<h1>Archive: @title</h1>

@foreach (var item in Model)
{
	@Html.Partial("_Post", item)
}